@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
 margin: 0;
 padding: 0; 
 font-family: Azeret Mono;
}
/* Shared class */
.p-primary{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
}
.btn-primary{
   box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   color: rgb(13, 19, 33);
   font-size: 15px;
   font-weight: 600;
   line-height: 23px;
   text-align: center;
   width: 150px;
   height: 48px;
}
/* This is navbar section */
.navbar{
    width: 1531px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}
.navbar-heading h1{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    padding-left:150px ;
    
}
/* First button */
.btn-1 button{
    
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
width: 228px;
height: 58px;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
}
.btn-1{
    padding-right: 150px;
    
}
/* header section */
/* adding a background image */
.hero-bg{
    width: 1531px;
    height: 652px;
  
    background-image: url(images/Hero-bg.png);
    background-position: center;
    background-size: cover;
}
.hero-bg-content{
    width: 998px;
    height: 582px;
   
    margin: 0 auto;
    text-align: center;
   
    box-sizing: border-box;
}
.hero-img{
    margin-top: 30px;
}
.hero-heading{
    color: rgb(13, 19, 33);
font-size: 35px;
font-weight: 800;
line-height: 68px;
padding-top: 26px;

}

.btn2{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(255, 255, 255);
    padding: 5px 5px;


}
.hero-para{
  
    
    
}
.contact-link{
    padding-top: 30px;
}
/* done header section */
/* start main section */
/* why web development section */


.why-web-development{
   width:1240px ;
   height:1395px ;
   background-color: rgba(13, 19, 33, 0.02);
   border-radius: 16px;
   margin: 0 auto;
  
   margin-top: 80px;
}
.web-main-content{
    width: 1050px;
    height: 1235px;
    
  
   margin: 0 auto;
  
   padding-top: 50px;


    
}
.web-main-content .point1,.point2,.point3{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.web-heading h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.web-heading p{
    text-align: center;
}
.web-main-content .point1{
    width:1050px ;
    height:350px ;
    
    border-radius: 16px;

    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom:37px ;
    margin-top: 32px;
}
.web-main-content .point2{
    width:1050px ;
    height:350px ;
  
    border-radius: 16px;

 background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
 margin-bottom:37px

}

.web-main-content .point3{
    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);


 width:1050px ;
    height:350px ;
    margin-bottom:37px;

}
.point1 .point1-content ,.point2 .point2-content,.point3 .point3-content{
    width: 477px;
   height: 220px;
padding-left: 40px;
}
.point1 h2 ,.point2 h2 ,.point3 h2{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 700;
line-height: 36px;


margin-bottom: 10px;
}
.point1 p,.point2 p ,.point3 p{
    margin-bottom: 44px;
}
.point1-img, .point2-img, .point3-img{
    width: 259.56px;
height: 217.01px;
}
.web-main-content img{
width: 100%;
height: 100%;

}
.point1-img, .point3-img{
    padding-right: 30px;
}
.point2-img{
    padding-left: 30px;
}
/* web dev section done */
/* starting my inispiration section */
.my-inspiration{
    width:1240px ;
    height: 777px;
   
    margin: 0 auto;
    margin-top: 90px;
}
.my-inspiration-content{
    width: 852px;
height: 115px;
display: flex;
flex-direction: column;
align-items: center;

padding-top: 10px;
text-align: center;
}
.my-inspiration-main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.my-inspiration h2{
    color: rgb(13, 19, 33);

font-size: 32px;
font-weight: 800;
line-height: 37px;


}

.my-inspiration p{
    padding-top: 20px;
}
.inspiration-video{
    width:1240px ;
    height: 600px;
   
    box-sizing: border-box;
     border: 1px solid rgba(13, 19, 33, 0.2);
     border-radius: 16px;

}
.inspiration-video iframe{
    height: 540px;
    width: 1180px;
   

  
}
.video{
   text-align: center;
   padding-top: 32px;
}
/* ispiration section done */
/* My current section sstart */
.my-current-target{
    width:1240px ;
    height: 500px;
    border: 2px solid green;
    margin: auto;
    margin-top: 150px;
}
.target-heading{
    color: rgb(13, 19, 33);

font-size: 25px;
font-weight: 800;
line-height: 37px;

text-align: center;
}
.target-heading p{
    padding-left: 50px;
    padding-top: 20px;
}
.card1 ,.card2,.card3{
    width: 364px;
   height: 300px;
   border-radius: 16px;
  
}
.card1{
 

    background: rgba(255, 76, 30, 0.05);
}
.card2{
background: rgba(0, 76, 232, 0.05);
}
.card3{
    background: rgba(255, 223, 0, 0.05);
}

.card-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    
}
.card-container h1{
    color: rgb(13, 19, 33);

font-size: 24px;
font-weight: 800;
line-height: 36px;

text-align: left;
}
.card-container a{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;

text-align: left;
text-decoration-line: underline;
}
